{% extends "base.html" %}

{% block content %}

<!-- О проекте -->
<div class="about-block">
	<div class="super_container" style="">
	  <div class="row">
		<div class="col-lg-7" >
		  <video src="video/IMG_1264.mov" width="100%" controls></video>
		</div>
		<div class="col-lg-5">
		  <h2 class="heading_about">Краудсорсинг</h2>
		  <hr>
		  <p class="lead about text-justify">Краудсорсинг - это привлечение к решению тех или иных проблем инновационной производственной деятельности широкого круга лиц для использования их творческих способностей, знаний и опыта по типу субподрядной работы с применением инфокоммуникационных технологий. </p>
		</div>
	  </div>
	</div>
</div>
<br>
<br>

<!-- Спонсировать, контакты -->
<div class="container">
  <div class="row">
	<div class="col-md-6" >
		<h1 class="heading_about" align="center"> Контакты </h1>
		<hr>
		<h3> Email: ckekeijiejijc@mail.ru</h3>
		<h3> Telegram: @maratloh</h3>
	</div>
	<div class="col-md-6">
		<h1 class="heading_about" align="center"> Спонсировать </h1>
		<hr>
		<div class="d1">
			<form >
				<input  type="text" placeholder="Сумма" aria-label="Search">
				<button type="submit">Спонсировать</button>
			</form>
		</div>
	</div>
  </div>
</div>
<br>
<br>

{% endblock %}

{% block body %}
{% endblock %}
