{% extends "base.html" %}

{% block content %}

<!-- О проекте -->
<div class="about-block">
	<div class="super_container" style="">
	  <div class="row">
		<div class="col-lg-7" >
		  <video src="video/IMG_1264.mov" class="project_video" width="100%" controls></video>
		</div>
		<div class="col-lg-5">
		  <h2 class="heading_about base_cg">Краудсорсинг</h2>
		  <hr>
		  <p class="lead about text-justify base_cg">Краудсорсинг - это привлечение к решению тех или иных проблем инновационной производственной деятельности широкого круга лиц для использования их творческих способностей, знаний и опыта по типу субподрядной работы с применением инфокоммуникационных технологий. </p>
		</div>
	  </div>
	</div>
</div>


<!-- Спонсировать, контакты КОМП-->
<section class="se-container d-none d-lg-block">
    <div class="se-slope se-slope-black">
        <article class="se-content">
            <h1 class="heading_about base_cg" align="center"> Контакты </h1>
	    <hr>
	    <h3> Email: ourpostour@mail.ru</h3>
	    <h3> Telegram: @maratloh</h3>
        </article>
    </div>
    <div class="se-slope se-slope-pink">
      <article class="se-content">
            <h1 class="heading_about base_cg" align="center"> Спонсировать </h1>
	    <hr>
	    <h4> Помогай нам создавать! </h4> 
	    <div class="d1">
		    <form >
			    <input  type="text" placeholder="Сумма пожертвования" aria-label="Search">
			    <button type="submit">Спонс</button>
		    </form>
	    </div>
        </article>
    </div>
</section>


<!-- Спонсировать, контакты ТЕЛЕОН-->
<br>
<div class="container d-lg-none">
  <div class="row">
	<div class="col-md-6" >
		<h1 class="heading_about base_cg" align="center"> Контакты </h1>
		<hr>
		<h3> Email: ourpostour@mail.ru</h3>
		<h3> Telegram: @maratloh</h3>
	</div>
	<div class="col-md-6">
		<h1 class="heading_about base_cg" align="center"> Спонсировать </h1>
		<hr>
		<h4> Помогай нам создавать! </h4> 
		<div class="d1">
			<form >
				<input  type="text" placeholder="Сумма пожертвования" aria-label="Search">
				<button type="submit">Спонс</button>
			</form>
		</div>
	</div>
  </div>
</div>
<br>

{% endblock %}

{% block body %}
{% endblock %}
