<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    {% block title %}
    <title> Главная </title>
    {% endblock %}

    <link rel="canonical" href="index.html">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/view_project.css">


  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header_body">
          <a href="{{ url('index') }}" class="header_logo">
            <img src="../static/img/logo.jpeg">
          </a>
          <div class="header_burger">
            <span></span>
          </div>
          <nav class="header_menu">
            <ul class="header_list">
              <li>
                <a href="{{ url('userprojects') }}" class="header_link">Проекты</a>
              </li>
              <li>
                <a href="#" class="header_link">Итоги</a>
              </li>
              {% if current_user %}
              <li>
                <a href="{{ url('create_project') }}" class="header_link">Создать проект</a>
              </li>
              {% endif %}
              {% if current_user %}
              <li class="dropdown">
                <a class="dropdown-toggle  header_profile" aria-labelledby="btnGroupDrop1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  {% if user.user_photo %}
                  <img src="{{ url('static', filename=user.user_photo) }}" style="border-radius: 100px;" width="20" height="20" >
                  {% endif %}
                  {{user.name}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{{ url('profile') }}" style="font-size:18px">Профиль</a>
                  <a class="dropdown-item" href="#" style="font-size:18px">Настройки</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url('logout') }}" style="font-size:18px">Выход</a>
                </div>
              </li>
              {% else %}
              <li>
                <a class="header_link" href="{{ url('login') }}"> Войти </a>
              </li>
              <li>
                <a class="header_link"href="{{ url('signup') }}"> Регистрация </a>
              </li>
                {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>


    {% block content %}
      
    <!--Вступительный блок-->
    <div class="first_blocks">
      <div class="first_block_1">
        <img src="../static/img/logo.jpg" class="first_block_crow" width="100%">
        <button class="add_project">
          Добавить проект
        </button>
      </div>
      <div class="first_block_2">
        <div class="two_with_photo">
          <div class="two_first">
            <h1 class="header_first_block_2"> 
              Помогай <br>
              миру <br>
              лететь <br>
              вперед            
            </h1>
          </div>
          <div class="two_second">
            <img src="../static/img/W9Xs.gif" class="first_block_planet" width="100%">
          </div>
          <div class="block_text_first_block_2">
            <hr class="hr_first">
            <p class="text_first_block_2">
              миру нужны креативные люди, <br>
              присоединяйся и делай его лучше
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Блок о проекте-->
    <div  class="second_blocks">
      <div class="second_block_1">
        <h1 class="heading_second_block_1"> <span class="underline_ani">Краудсорсинг</span> </h1>
        <p class="text_second_block_1">
          - это <span class="green">привлечение к решению</span> <br>
          тех или иных <span class="green">проблем</span> <br>
          инновационной <br>
          производственной <br>
          деятельности широкого круга <br>
          лиц для использования их <br>
          творческих способностей, <br>
          знаний и опыта <br>
          по типу субподрядной работы <br>
          <span class="green">с применением <br>
          инфокоммункационных <br>
          технологий.</span>
        </p>
      </div>
      <div class="second_block_2">
        <video src="../static/img/d3486aff-5f00-40fe-b717-576dfb90f79b.mp4" class="second_block_video" controls></video> 
      </div>
    </div>

    
    <!--Лучшие проекты-->
    {% if projects %}
    <div class="third_block">
      <h1 class="heading_third_block"> <span class="underline_best_project">Лучшие проеткы </span></h1>
      {% for project in projects %}
      {% if project.video %}
      <div class="third_block_1 zoom" id='id{{project.id}}'>
        <h1 class="heading_name_1"> {{ project.name }} </h1>
        <hr>
        <video src="{{ url('static', filename=project.video) }}" class="" controls></video> 
        <h4> Награда: {{ project.gift }}</h4>
        <p class="size"> {{ project.description }}</p>
      </div>
      {% else %}
      <div class="third_block_1 zoom"  id='id{{project.id}}'>
        <h1 class="heading_name_1"> {{ project.name }} </h1>
        <hr>
        <h4> Награда: {{ project.gift }}</h4>
        <h4> Компания: {{ project.company }} </h4>
        <h4> Окончание: %%%%%</h4>
        <p style="text-align:justify;"> {{ project.description }} </p>
      </div>

      <script>
        var proj = document.getElementById('id{{project.id}}')

        if (typeof proj !== 'undefined') {

          proj.onclick = function open (){
            window.location.assign("view?project_id={{project.id}}")
          }

        }
      </script>

      {% endif %}
    {% endfor %}
    </div>
    {% endif %}


    {% endblock %}


  <script src="../static/js/nav.js" ></script>
  <script src="../static/js/modal.js" ></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../static/js/jquery.slim.min.js"><\/script>')</script><script src="../static/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>


    <!-- FOOTER -->
    <footer class="fourth_block"> 
      <div class="fourth_block_1">
        <h3 class="heading_fourth_block"> <span class="line_1">Контакты</span> </h3>
        <h6>E-mail : himarat@gmail.com</h4>
        <h6>Telegram : @crow_message</h6>
      </div>
      <div class="fourth_block_1">
        <h3 class="heading_fourth_block"> <span class="line_1">Спонсировать</span> </h3>
        <h6>Помогай нам развиваться!</h6>
        <h3><span class="money">Помочь!</span></h3>
      </div>
      <div class="fourth_block_1">
        <h3 class="heading_fourth_block"> <span class="line_1">&copy; 2020 </span> </h3>
        <h6><a href="#" class="money" style="color:black">Политика конфиденциальности</a></h6>
        <h6><a href="#" class="money"  style="color:black">Пользовательское соглашение</a></h6>
      </div>
    </footer>
    


    </body>


</html>
