{% extends "base.html" %}

{% block content %}

<h1> Hello, it's contact test </h1>


<section class="se-container">
    <div class="se-slope se-slope-black">
        <article class="se-content">
            <h1 class="heading_about base_cg" align="center"> Контакты </h1>
	    <hr>
	    <h3> Email: ourpostour@mail.ru</h3>
	    <h3> Telegram: @maratloh</h3>
        </article>
    </div>
    <div class="se-slope se-slope-pink">
      <article class="se-content">
            <h1 class="heading_about base_cg" align="center"> Спонсировать </h1>
	    <hr>
	    <h4> Помогай нам создавать! </h4> 
	    <div class="d1">
		    <form >
			    <input  type="text" placeholder="Сумма пожертвования" aria-label="Search">
			    <button type="submit">Спонс</button>
		    </form>
	    </div>
        </article>
    </div>
</section>


{% endblock %}


{% block body %}
{% endblock %}
