{% extends "base.html" %}

{% block content %}

<br>
<div class="container">
	
	<h4> Создание проекта происходит следующим образом: </h4>
	<p>1. Вы заполняете все необходимые поля редактора проекта;</p>
	<p>2. Проект отправляется на рассмотрение модераторам;</p>
	<p>3. При возникновении вопросов, с вами связывается ваш личный куратор проекта для разрешение данны вопросов;</p>
  <p>4. После проект загруается на площадку. </p>
  
  <h4> Условия и пожелания при создании проекта: </h4>
	<p>1. Проект должен иметь краткое описание (примерно 2-4 предложения);</p>
	<p>2. Проект должен иметь презентацию в формате PDF, где будет изложена в доступной форме проблема, дополнительная информация и что вы хотите получит от групп, которые будут решать данную проблему. Также в презентации должна быть почта или ссылка на мессенджер, по которым с вами можно связаться;</p>
	<p>3. Видео важная часть проекта, его можно не загружать, но с видео ваш проект будет более привлекательным;</p>
  <p>4. Вознаграждение – это плата за интеллектуальную собственность, которую вам предоставляют группы. Вознаграждение может быть как денежным, так и иным, к примеру: стажировка, работа, знания и так далее, что вы придумаете. При денежном вознаграждении площадка взымает 5% от суммы для улучшения сервиса;</p>
  <p>5. Проект должен иметь дату окончания проекта, когда наступает эта дата, проект закрывается для людей;</p>
  <p>6. Проект не может противоречить Пользовательскому соглашению, если проект противоречит, то данный проект не будет опубликован.</p>
	
	<h4> Оценивание проектов и дальнейшее действия: </h4>
	<p>1. После того как вы загрузили проект, люди начинают решать вашу проблему и отправлять свое решение до даты, которую вы указали; </p>
	<p>2. После окончания времени, выделенного на решения проблемы, вы оцениваете каждое решение и выбираете победителя или победителей, вы можете разделить награду между несколькими командами;</p>
	<p>3. Как-то передать награду, но каааааак???????????</p>
  
  <br>
  
  <p> Если у вас возникнут вопросы, вы можете задать их, отправив сообщение в телеграме @support или электронное письмо на адрес support@mail.ru. </p>
   
</div>

<div class="container">
  
    <div class="accordion" id="accordionExample">
      	<h5 class="mb-0">
        	<button class="glo" style="vertical-align:middle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          	<span>Начать</span>
          </button>
        </h5>
    </div>
    <br>
    
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      
      <form action="{{ url('create_project') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="needs-validation" novalidate>
      
        <div class="form-group">
          <label for="inputName">Название проекта</label>
          <input type="text" name='name' class="form-control" id="inputName" placeholder="Name" required>
        </div>
        
        <div class="form-group">
          <label for="inputCompany">Компания</label>
          <input type="text" name='company' class="form-control" id="inputCompany" placeholder="Company" required>
        </div>

        <input type="text" name="author_id" hidden value="{{user.id}}">

        <div class="form-group">
          <label for="inputDescription">Описание проекта</label>
          <textarea type="text" name='description' class="form-control" id="inputDescription" placeholder="Описание проекта" required></textarea>
        </div>

        <div class="form-group">
          <label for="inputPresentation">Презентация (PDF)</label>
          <input type="file" class="form-control" name='presentation' id="inputPresentation" placeholder="Presentation" required>
        </div>
        
        <p>
              <label for="date">Окончание конкурса:</label>
              <input type="date" id="date" name="deadline"/ required>
        </p>
        
        <div class="form-group">
          <label for="inputGift">Награда</label>
          <input type="text" class="form-control" name='gift' id="inputGift" placeholder="Gift" required>
        </div>
        
        <div class="form-group">
          <label for="inputVideo">Видео (Не обязательно)</label>
          <input type="file" class="form-control" name='video' id="inputVideo" placeholder="Video">
        </div>
        
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
            Я ознокомился и согласен со всеми условиями.
            </label>
          </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Добавить проект" />

      </form>
    
    </div>

</div>
<br>


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>




{% endblock %}
