{% extends "base.html" %}


{% block content %}

<!--Загаловок-->
<div class="container" style="margin-top:25px">
  <h1 class="heading"> Все проекты </h1>
</div>

<!--Фильтр и поиск-->
<div class="container" style="margin-top:25px">
	<div class="row">
  	<div class="col-md-4 ">
        <select class="custom-select custom-select-lg mb-3 sort_project">
          <option selected>Все проекты</option>
          <option value="1">IT</option>
          <option value="2">Тенологии и исследования</option>
          <option value="3">Бизнес</option>
          <option value="4">Другое</option>         
        </select>
  	</div>
		<div class="col-md-8 d1 ">
      <form >
        <input  type="text" placeholder="Search" aria-label="Search">
        <button type="submit">Поиск</button>
      </form>
		</div>
	</div>
  <hr class="betwen_projects">
</div>
  

     
<!-- Projects -->
{% for proj in project %}
<div class="container">
{% if proj.video %}
<div class="container project_shadow zoom" id='id{{proj.id}}' >
  <div class="row">
    <div class="col-lg-7">
      <h2 class="heading_project">{{ proj.name }}</h2>
      <hr>
      <h5> Награда: {{ proj.gift }} </h5>
      <h5> Компания: {{ proj.company }} </h5>
      <h5> Участников: {{ proj.member }} </h5>
      <p class="lead clip text-justify">{{ proj.description}}</p>
    </div>
    <div class="col-lg-5 embed-responsive-16by9">
        <video src="{{ url('static', filename=proj.video) }}" class="project_video" width=100% controls='controls'>
    </div>
  </div>
</div>
<hr class="betwen_projects">


{% else %}
<div class="container project_shadow zoom" id='id{{proj.id}}' >
  <div class="row">
    <div class="col-lg-5">
      <h2 class="heading_project">{{ proj.name }}</h2>
      <hr>
      <h5> Награда: {{ proj.gift }} </h5>
      <h5> Компания: {{ proj.company }} </h5>
      <h5> Участников: {{ proj.member }} </h5>
    </div>
    <div class="col-lg-7">
      <p class="lead text-justify"> {{ proj.description}} </p>
    </div>
  </div>
</div>
<hr class="betwen_projects">


{% endif %}


<script>

  var proj = document.getElementById('id{{proj.id}}')

  if (typeof proj !== 'undefined') {

    proj.onclick = function open (){
      window.location.assign("view?project_id={{proj.id}}")
    }

  }
</script>

</div>
{% endfor %}

<br>



{% endblock %}

{% block body %}
{% endblock %}
